@import url("https://use.fontawesome.com/releases/v6.5.1/css/all.css");

/* Ocultar Scroll */
::-webkit-scrollbar {
display: none;
}

:-moz-scrollbar {
display: none;
}
*{
margin:0; /*Es todo lo fuera de la pagina, la margen de ella*/
padding: 0; /*Es el borde dentro de la pagina, despues de la margen de la pagina*/
box-sizing: border-box;
font-family: sans-serif, monospace;
}
:root {
--background: linear-gradient(90deg, white 25%, #256e99 75%);
--text-color: #000;
--light-text-color: #000; /* Color del texto en modo claro */
--dark-text-color: #fff; /* Color del texto en modo oscuro */
--light-background: var(--background);
--dark-background: #212529;
/* Transiciones */
--transition: all 0.2s ease-in-out;
}

#sun-fill {
fill: #fdc21c;
}

body{
width: 100%;
height: 100%;
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
color: var(--text-color);
background-color: var(--light-background);
transition: var(--transition);
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
}

.header {
width: 100%;
height: 5em;
background: var(--background);
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
}

.caja-logo{
width: 50%;
height: 2em;
display: flex;
justify-content: flex-start;
align-items:center ;
}

.logo-principal{
margin:3em;
}

.nav{
width: 100%;
height: 3em;
margin: 3em;
display: flex;
flex-direction: column;
justify-content: center; /* Alinea verticalmente los elementos del nav */
align-items: center; /* Alinea horizontalmente los elementos del nav */
margin-top: 1em;
}

.barnav{
width: 100%;
height: 100%;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;

}

.menu{
width: 15%;
height: 100%;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center

}

.menu a{
text-decoration: none;
color: black;
border-bottom: none;
transition: border-bottom 0.5s ease-in-out;

}

.menu:hover a{
color: black; /*Cambia el color del texto al pasar el cursor por encima*/
border-bottom:2px solid black; /*Agrega la linea abajo del texto con el color especificado, al pasar el cursor por
encima*/
}

.dropdown {
margin-left: -2em; /* Ajusta el margen izquierdo del botón dropdown */
}

.modo{
text-align: center;
}

/* BANNER O CARRUSEL DE IMAGENES */

.carrusel{
display: flex;
align-items: center;
justify-content: center;
overflow: hidden;
width: 100%;
height: 100%;
margin: 20px;
}

.imagenes{
display: flex;
flex-direction: column;
align-items: center;
justify-content: end;
}

.img{
box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.85);
height: 400px;
width: 700px;
border-radius: 15px ;
margin: 5px;
object-fit: cover;
filter: saturate(175%);
}

.texto{
overflow: hidden;
position: absolute;
flex-direction: column;
transform: translateY(60px);
margin-bottom: 0px;
backdrop-filter: blur(20px);
background-color: rgba(63, 106, 138, 0.21);
display: flex;
align-items: center;
justify-content: center;
border-radius: 30px;
}

.texto h3{
text-shadow: 0px 0px 15px black;
padding-top: 60px;
color: white;
font-weight: 300;
font-size: 25px;
}

.texto p{
align-items: center;
padding: 20px;
color:white;
font-size: 0px;
font-weight: 200;
text-align: justify;
}

.imagenes .texto{
width: 680px;
height: 70px;
transition: 1s;
}

.imagenes:hover .texto{
transition: height 1s, transform 1s, background-color 1s;
transform: translateY(-20px);
height: 350px;
background-color: rgba(63, 106, 138, 0.71);
}

.imagenes:hover .texto p{
transition: font-size 0s .2s linear;
font-size: 20px; /* tamaño de p depues de la transcicion */
font-weight: 300;
text-shadow: 0px 0px 10px #000000;

}

.puntos{
display: flex;
align-items: center;
justify-content: center;
}

.puntos p{
font-size: 100px;
font-weight: 500;
margin-top: -50px;
color: black;
}

.puntos .bold{
font-weight: 700;
margin-left: 10px;
margin-right: 10px;
color: #5E17EB ;
}

.my-button {
margin-top: -40px;
padding: 10px 20px;
background-color: transparent;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
border: 1px black solid ;
border-spacing: 2px;
}

.my-button:hover {
background-color: #256e99;
}

.my-button:active {
background-color: #256e99;
}

/* SECCION DE FRASE */

.contenedor-frase {
width: 99%;
height: 200px;
background-color: #CBEFF3;
border-radius: 100px;
display: flex;
justify-content: center;
align-items: center;
border: 1px black solid;
box-shadow: 1px 7px 20px black;
}

.texto-motivador{
text-align: center;
}

.frase-motivadora{
font-family: fantasy;
color: black;
align-items: center;
font-size: 22px;
}

/* SECCION MISION Y VISION */

.contenedor-general {
width: 100%;
height: auto;
display: flex;
justify-content: space-between;
}

/* MISION */

.contenedor-mision{
width: 47.5%;
height: 200px;
background-color: #CBEFF3;
border: 1px black solid;
border-radius: 40px;
margin: 20px;
box-shadow: 1px 7px 20px black;
}

.titulo-mision{
display: flex;
}

.titulo-mision h1{
font-size: 24px;
color: black;
margin: 10px 20px 0px 20px;
}

.contenedor-mision p{
text-align: justify;
margin: 5px 20px;
color: black;
}

/* VISION */
.contenedor-vision {
width: 47.5%;
height: 200px;
background-color: #CBEFF3;
border: 1px black solid;
border-radius: 40px;
margin: 20px;
box-shadow: 1px 7px 20px black;
}

.titulo-vision{
display: flex;
}

.titulo-vision h1{
font-size: 24px;
color: black;
margin: 10px 20px 0px 20px;
}

.contenedor-vision p{
text-align: justify;
margin: 5px 20px;
color: black;
}

/* SECCION VALORES */

/* TITULO DE VALORES */
.titulo-general
{
width: 100%;
height: auto;
display: flex;
}

.titulo{
width: 100%;
height: auto;
margin-top: 20px;
}

.titulo h1{
color: black;
font-size: 30px;
text-align: center;
font-family: sans-serif;

}

/* VALORES */

.valores-general p{
text-align: justify;
}

.fila {
display: flex;
gap: 40px;
justify-content: center;
margin-top: 10px;
margin-bottom: 10px
}

.valor {
width: 90%;
margin: 0 10px;
padding: 20px;
border: 1px solid #ccc;
border-radius: 5px;
text-align: center;
border: 2px solid #256e99;
background-color: beige;
}

.valor h2, p {
margin-bottom: 10px;
color: black;
}

/* SECCION 2 */

.valores-general-2 p{
text-align: justify;
}

.fila-2 {
display: flex;
gap: 40px;
justify-content: center;
margin-top: 10px;
margin-bottom: 10px
}

.valor-2 {
width: 80%;
margin: 0 10px;
padding: 20px;
border: 1px solid #ccc;
border-radius: 5px;
text-align: center;
border: 2px solid #256e99;
background-color: beige;
}

.valor-2 h2, p {
margin-bottom: 10px;
color: black;
}

/* FOOTER */
.footer{
width: 100%;
height: auto;
background-color:#83B1C2 ;
}

.iconos-redes {
display: flex;
justify-content: center;
color: black;
}

.iconos-redes a {
all: unset;
}

.iconos-redes i {
font-size: 40px;
margin: 25px 15px 20px 0;
}

.iconos-redes a i:hover {
color: black; /* Cambiar color al pasar el cursor */
transform: scale(1.1); /* Aumentar tamaño al pasar el cursor */
cursor: pointer;

}

.footer p{
text-align: center;
color: black;
}

/* BOTON SUBIR PAGINA */

.ir-arriba{
font-size:20px;
color:black;
cursor:pointer;
position:fixed;
bottom:10px;
right:10px;
z-index:2;
}

/* ----------------EMPIEZA SECCION DE RESPONSIVE-------------------------------------- */

.btn-link.nav-link.dropdown-toggle{
margin-top: 0px;
margin-right: 35px;

}

.dropdown-menu.dropdown-menu-end {
min-width: 70px; /* Elimina el ancho mínimo */
width: auto; /* Establece el ancho automático basado en el contenido */
max-width: 100%; /* Establece el ancho máximo al 100% */
margin-right: -5px;
margin-bottom: 35px;
height:78px;
}

/* RESPONSIVE NAV */

.layout__nav-responsive{
display: none;
position: absolute;
appearance: none;
width: 1.5rem;
height: 6px;
border-radius: 4px;
background-color: black;
right: 2rem;
cursor: pointer;
margin-right: 20px;
}

.layout__nav-responsive::after{
content: "";
position: absolute;
width: 100%;
height: 6px;
background-color: black;
border-radius: 4px;
top: -0.8rem;

}
.layout__nav-responsive::before{
content: "";
position: absolute;
width: 100%;
height: 6px;
background-color: black;
border-radius: 4px;
bottom: -0.8rem;

}

/* RESPONSIVE NAV Y CELULARES */

@media (max-width: 760px) {

.caja-logo{
margin-left: -55px;
}

.layout__nav-responsive {
display: flex;
z-index: 999;
margin-bottom: 10px;
margin-right: 55px;
}

.barnav {
display: none;
}

/* RESPONSVIE CARRUSEL */

.carrusel{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 90%;
    height: 50%;
    margin-top: 20px;
    margin-right: 5px;
    margin-left: 0px;
    }
  
    .imagenes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    }
    
    .img{
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.85);
    height: 150px;
    width: 250px;
    border-radius: 25px ;
    margin-left: -4px;
    margin-right: 12px;
    object-fit: cover;
    filter: saturate(175%);
    }
    
    .atras{
        margin-left: 18px;
    }
    .texto{
    overflow: hidden;
    position: absolute;
    flex-direction: column;
    transform: translateY(60px);
    margin-bottom: 0px;
    backdrop-filter: blur(20px);
    background-color: rgba(63, 106, 138, 0.21);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    border-radius: 50px;
    }
    
    .texto h3{
    text-shadow: 0px 0px 15px black;
    padding-top: 60px;
    color: white;
    font-weight: 300;
    font-size: 25px;
    }
    
    .texto p{
    align-items: center;
    padding: 20px;
    color:white;
    font-size: 0px;
    font-weight: 200;
    text-align: justify;
    }
    
    .imagenes .texto{
    width: 360px;
    height: 70px;
    transition: 1s;
    }
    
    .imagenes:hover .texto{
    transition: height 1s, transform 1s, background-color 1s;
    transform: translateY(260px);
    width: 350px;
    height: 385px;
    background-color: rgba(63, 106, 138, 0.71);
    }
    
    .imagenes:hover .texto p{
    transition: font-size 0s .2s linear;
    font-size: 15px; /* tamaño de p depues de la transcicion */
    font-weight: 300;
    text-shadow: 0px 0px 10px #000000;
    margin-bottom: 50px;
    
    }
    
    .puntos{
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
    .puntos p{
    font-size: 100px;
    font-weight: 100;
    margin-top: -50px;
    color: black;
    }
    
    .puntos .bold{
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px;
    color: #5E17EB ;
    }
    
    
    .my-button {
    margin-top: -40px;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px black solid ;
    border-spacing: 2px;
    }
    
    .my-button:hover {
    background-color: #256e99;
    
    }
    
    .my-button:active {
    background-color: #256e99;
    }


/* RESPONSIVE CONTENEDOR FRASE MOIVADORA */
.contenedor-frase {
width: 90%;
height: 150px; 
background-color: #CBEFF3;
border-radius: 80px;
display: flex;
justify-content: center;
align-items: center;
border: 1px black solid;
box-shadow: 1px 7px 20px black;
margin-left: -4px;
}

.texto-motivador{
text-align: center;
}

.frase-motivadora{
margin: 10px 5px;
font-family: fantasy;
color: black;
align-items: center;
font-size: 18px;
}
/* SECCION MISION Y VISION */

.contenedor-general {
width: 100%;
height: auto;
display: flex;
justify-content: space-between;
}

/* MISION */

.contenedor-mision{
width: 47.5%;
height: 585px;
background-color: #CBEFF3;
border: 1px black solid;
border-radius: 40px;
margin: 20px;
box-shadow: 1px 7px 20px black;
}

.titulo-mision{
display: flex;
}

.titulo-mision h1{
text-align: center;
font-size: 24px;
color: black;
margin-bottom: 8px;

}

.contenedor-mision p{
text-align: justify;
margin: 5px 20px;
color: black;
}

/* VISION */
.contenedor-vision {
width: 47.5%;
height: 450px;
background-color: #CBEFF3;
border: 1px black solid;
border-radius: 40px;
margin: 20px;
box-shadow: 1px 7px 20px black;
}

.titulo-vision{
display: flex;
}

.titulo-vision h1{
font-size: 24px;
color: black;
margin: 10px 20px 0px 20px;
}

.contenedor-vision p{
text-align: justify;
margin: 5px 20px;
color: black;
}

/* CONTENEDORES DE VALORES */

.titulo h1{
margin-left: -10px;
margin-bottom: 30px;
}

.fila {
display:contents;

}

.valor{
    margin-left: 13px;
margin-bottom: 10px;
}

.fila-2{
display: contents;

}

.valor-2{
margin-left: -4px;
width: 350px;
margin-bottom: 10px;
}

.layout__nav-responsive:checked ~ .barnav {
z-index: 1;
display: flex;
flex-direction: column;
align-items: center;
gap: 0px;
position: fixed !important;
top: 80px;
left: 0;
width: 100%;
height: calc(100% - 80px); /* Ajuste de la altura del menú */
background-color: #b4cbd9;
color: var(--light-text-color);
}

.layout__nav-responsive:checked ~ .barnav .menu {
flex-grow: 1;
margin-left: -35px;
}

/* Estilos adicionales para los enlaces del menú */
.layout__nav-responsive:checked ~ .barnav .menu a {
color: var(--background);
font-size: 2.1rem;
}

.no-scroll {
overflow: hidden;
}

.btn-link.nav-link.dropdown-toggle{
margin-top: 10px;
margin-right: 35px;

}

.dropdown-menu.dropdown-menu-end {
min-width: 70px; /* Elimina el ancho mínimo */
width: auto; /* Establece el ancho automático basado en el contenido */
max-width: 100%; /* Establece el ancho máximo al 100% */
margin-right: -5px;
margin-bottom: 35px;
height: 78px;
}
.footer {
height: auto; /* Ajustar la altura automáticamente según el contenido */
padding: 20px; /* Agregar un poco de espacio alrededor del contenido */
}

.iconos-redes i {
font-size: 40px; /* Reducir el tamaño de los iconos de redes sociales */
margin: 15px 10px; /* Ajustar el margen de los iconos */
}

.footer p {
font-size: 18px; /* Reducir el tamaño del texto del footer */
}
}