@import url("https://use.fontawesome.com/releases/v6.5.1/css/all.css");

/* Ocultar Scroll */
::-webkit-scrollbar {
display: none;
}

:-moz-scrollbar {
display: none;
}
*{
margin:0; /*Es todo lo fuera de la pagina, la margen de ella*/
padding: 0; /*Es el borde dentro de la pagina, despues de la margen de la pagina*/
box-sizing: border-box;
font-family: sans-serif, monospace;
}
:root {
--background: linear-gradient(90deg, white 25%, #256e99 75%);
--text-color: #000;
--light-text-color: #000; /* Color del texto en modo claro */
--dark-text-color: #fff; /* Color del texto en modo oscuro */
--light-background: var(--background);
--dark-background: #212529;
/* Transiciones */
--transition: all 0.4s ease-in-out;
}
#sun-fill {
fill: #fdc21c;
}

body{
width: 100%;
height: 100%;
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
color: var(--text-color);
background-color: var(--light-background);
transition: var(--transition);
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
}

.header {
width: 100%;
height: 5em;
background: var(--background);
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
}

.caja-logo{
width: 50%;
height: 2em;
display: flex;
justify-content: flex-start;
align-items:center ;
}

.logo-principal{
margin:3em;
}

.nav{
width: 100%;
height: 3em;
margin: 3em;
display: flex;
flex-direction: column;
justify-content: center; /* Alinea verticalmente los elementos del nav */
align-items: center; /* Alinea horizontalmente los elementos del nav */
margin-top: 1em;
}

.barnav{
width: 100%;
height: 100%;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;

}

.menu{
width: 15%;
height: 100%;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center

}

.menu a{
text-decoration: none;
color: black;
border-bottom: none;
transition: border-bottom 0.5s ease-in-out;

}

.menu:hover a{
color: black; /*Cambia el color del texto al pasar el cursor por encima*/
border-bottom:2px solid black; /*Agrega la linea abajo del texto con el color especificado, al pasar el cursor por
encima*/
}

.dropdown {
margin-left: -2em; /* Ajusta el margen izquierdo del botón dropdown */
}

.modo{
text-align: center;
}

/* TEXTO INTRODUCCION LOCALIZACION */

.contenedor-introduccion{
width: 100%;
height: auto;
margin-top: 10px;
margin-left: 200px;
animation: slide-left 0.6s linear both;
}

@keyframes slide-left {
0% {
transform: translateX(0);
}
100% {
transform: translateX(-100px);
}
}
.contenedor-introduccion h1{
text-align: center;
margin-bottom: 20px;
}

.parrafo {
width: 100%;
height: auto;
color: black;
}

.parrafo p{
color: black;
text-align: justify;
margin: 10px 20px 10px 20px;
}
/* MAPA LOCALIZACION */

.contenedor-general {
margin: 30px auto;
width:auto; /* Adjust width if needed */
border: 2px solid black;
}

/* BOTON LLAMADO A LA ACCION DE IR A LA LOCALIZACION */

.contenedor-boton {
display: inline-block; /* Ensures proper button placement and responsiveness */
margin: 10px; /* Optional spacing around the button */
}

.button-gps {
background-color: #83B1C2;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
border: none;
cursor: pointer;
border-radius: 5px;
border: 1px black solid;
}

.button-gps a{
text-decoration: none;
color: black;
}

.button-gps:hover {
opacity: 0.8;
}

/* FOOTER */

.footer {
width: 100%;
height: auto;
background-color: #83B1C2;
margin-top: 20px;
}

.iconos-redes {
display: flex;
justify-content: center;
color: black;
}

.iconos-redes a {
all: unset;
}

.iconos-redes i {
font-size: 40px;
margin: 25px 15px 20px 0;
}

.iconos-redes a i:hover {
color: black;
/* Cambiar color al pasar el cursor */
transform: scale(1.1);
/* Aumentar tamaño al pasar el cursor */
cursor: pointer;

}

.footer p {
text-align: center;
color: black;
}

/* BOTON SUBIR PAGINA */

.ir-arriba {
font-size: 20px;
color: black;
cursor: pointer;
position: fixed;
bottom: 10px;
right: 10px;
z-index: 2;
}

/* ----------------EMPIEZA SECCION DE RESPONSIVE-------------------------------------- */

.btn-link.nav-link.dropdown-toggle{
margin-top: 0px;
margin-right: 35px;

}

.dropdown-menu.dropdown-menu-end {
min-width: 70px; /* Elimina el ancho mínimo */
width: auto; /* Establece el ancho automático basado en el contenido */
max-width: 100%; /* Establece el ancho máximo al 100% */
margin-right: -5px;
margin-bottom: 35px;
height:78px;
}

/* RESPONSIVE NAV */

.layout__nav-responsive{
display: none;
position: absolute;
appearance: none;
width: 1.5rem;
height: 6px;
border-radius: 4px;
background-color: black;
right: 2rem;
cursor: pointer;
margin-right: 20px;
}

.layout__nav-responsive::after{
content: "";
position: absolute;
width: 100%;
height: 6px;
background-color: black;
border-radius: 4px;
top: -0.8rem;

}
.layout__nav-responsive::before{
content: "";
position: absolute;
width: 100%;
height: 6px;
background-color: black;
border-radius: 4px;
bottom: -0.8rem;

}

/* RESPONSIVE NAV Y CELULARES */

@media (max-width: 760px) {

.caja-logo{
margin-left: -55px;
}

.layout__nav-responsive {
display: flex;
z-index: 999;
margin-bottom: 10px;
margin-right: 55px;
}

.barnav {
display: none;
}

.contenedor-introduccion{
margin-right: 8px;
}

.parrafo p{
font-size: 15px;
}

iframe {
width: 100%; /* Ajusta el ancho del iframe al 80% del contenedor */
height: 320px; /* Establece una altura fija para el iframe */
}

.layout__nav-responsive:checked ~ .barnav {
z-index: 1;
display: flex;
flex-direction: column;
align-items: center;
gap: 0px;
position: fixed !important;
top: 80px;
left: 0;
width: 100%;
height: calc(100% - 80px); /* Ajuste de la altura del menú */
background-color: #b4cbd9;
color: var(--light-text-color);
}

.layout__nav-responsive:checked ~ .barnav .menu {
flex-grow: 1;
margin-left: -35px;
}

/* Estilos adicionales para los enlaces del menú */
.layout__nav-responsive:checked ~ .barnav .menu a {
color: var(--background);
font-size: 2.1rem;
}

.no-scroll {
overflow: hidden;
}

.btn-link.nav-link.dropdown-toggle{
margin-top: 10px;
margin-right: 35px;

}

.dropdown-menu.dropdown-menu-end {
min-width: 70px; /* Elimina el ancho mínimo */
width: auto; /* Establece el ancho automático basado en el contenido */
max-width: 100%; /* Establece el ancho máximo al 100% */
margin-right: -5px;
margin-bottom: 35px;
height: 78px;
}

.footer {
height: auto; /* Ajustar la altura automáticamente según el contenido */
padding: 20px; /* Agregar un poco de espacio alrededor del contenido */
}

.iconos-redes i {
font-size: 40px; /* Reducir el tamaño de los iconos de redes sociales */
margin: 15px 10px; /* Ajustar el margen de los iconos */
}

.footer p {
font-size: 18px; /* Reducir el tamaño del texto del footer */
}
}

/* RESPONSIVE IPAD PRO */

@media (min-width: 1024px) and (max-width: 1366px){
/* Boton del Dark Mode */
.btn-link.nav-link.dropdown-toggle{
margin-top: 0px;
margin-right: 35px;

}

.dropdown-menu.dropdown-menu-end {
min-width: 70px; /* Elimina el ancho mínimo */
width: auto; /* Establece el ancho automático basado en el contenido */
max-width: 100%; /* Establece el ancho máximo al 100% */
margin-right: -5px;
margin-bottom: 35px;
height:76px;
}
iframe {
width: 950px;
height: 750px;

}

.contenedor-general{
margin-bottom: 74px;
}

}